<html>

<head>

</head>

<body>
    <div>
        <div class='BookClass1' ng-controller="dashboardCtrl" ng-init="getAllTheNotes()">
            <div class="part-takeNotetwo" ng-repeat="item in AllNotesArray" ng-if="item.isPin==true">
                <div class="note1 takeNotUp1">
                    <h5>{{item.title}}</h5>
                    <img src='/src/assets/push_pin.svg' width='20' ng-click="ToPin(item.isPin)" />
                </div>
                <div class="NotesField1">
                    {{item.note}}
                </div>
                <div class="lastDiv1">
                    <div class="allIcons1">
                        <div><img src='/src/assets/add_alert (1).svg' width='14' height='20' /></div>
                        <img src='/src/assets/person_add_alt_1_black_24dp.svg' width='18' height='18' />
                        <img src='/src/assets/brush_black.svg' width='20' />
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-image"
                            viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            <path
                                d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                        </svg>
                        <img src='/src/assets/archive.svg' width='25' ng-click="ToArchive(item.isArchive)" />
                        <img src='/src/assets/delete.svg' width='25' ng-click="ToTrash(item.isTrash)">
                        <img src='/src/assets/add_alert (1).svg' width='14' height='20' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>